GEMINI_API_KEY=GEMINI_API_KEY
MONGODB_URL=MONGODB_URL
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=GOOGLE_REDIRECT_URI
CLIENT_ID=CLIENT_ID
CLIENT_SECRET=CLIENT_SECRET
REDIRECT_URI=REDIRECT_URI
JWT_ACCESS_SECRET=JWT_ACCESS_SECRET